<header class="absolute inset-x-0 top-0 z-50 shadow-xl">
  <nav clas="flex items-center justify-center ">
    <div class="p-4">
      <span class="font-semibold leading-6 text-gray-600 text-3xl">
        Speak Ai Demo - Trello Integration
      </span>
    </div>
    <!-- <div>
      <a
        href="#"
        class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500"
      >
        Log In <span aria-hidden="true">&rarr;</span></a
      >
    </div> -->
  </nav>
</header>
